@model IEnumerable<HumanResourceManagementSystem.Models.Employee>

@{
    ViewBag.Title = "EmployeeInformation";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<link href="~/css/employeeindex.css" rel="stylesheet" />

<div class="main-content p-5">
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="~/Employee/Dashboard" style="color:darkblue">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employees-List</li>
            </ol>
        </nav>
    </div>
    <div class="info">
        <h2>Employees Information List</h2>
        <div style="height: auto; overflow-y: scroll">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Department.DepartmentName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                        </td>

                    </tr>
                }

            </table>
</div>
</div>
</div>