@model IEnumerable<HumanResourceManagementSystem.Models.Leave>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/employeeindex.css" rel="stylesheet" />
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="color:darkblue">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Leaves-List</li>
            </ol>
        </nav>

    </div>
    <div class="info">
        <h2>Leaves Information List</h2>
        <div style="height: auto; overflow-y: scroll">
            <a href="~/Leave/List" style="padding:10px; color:blue;" class="report">Generate Report<i class="fa fa-arrow-right"></i></a>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td style="padding: 25px 20px; ">
                            <i class="Statustrue"> @Html.DisplayFor(modelItem => item.Status)</i>
                        </td>
                        <td>
                            @Html.ActionLink(".", "Edit", new { id = item.LeaveId }, new { @class = " fa fa-pencil" })
                            @Html.ActionLink(".", "Details", new { id = item.LeaveId }, new { @class = " fa fa-eye" })
                            @Html.ActionLink(".", "Delete", new { id = item.LeaveId }, new { @class = " fa fa-trash" })
                        </td>
                    </tr>
                }

            </table>
            <a href="~/Leave/List" style="padding:10px; color:blue;" class="report">Generate Report<i class="fa fa-arrow-right"></i></a>

        </div>
    </div>
</div>
