@model HumanResourceManagementSystem.Models.Admin
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <!-- Favicons -->
    <link href="~/images/AlfaOrigen.jpg" rel="icon">
    <link href="~/images/AlfaOrigen.jpg" rel="apple-touch-icon">
</head>
<link href="~/css/login.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4 class="sign">Admin Login</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", data_val = "true", data_val_required = "This Field is Required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group input-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-group">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", data_val = "true", data_val_required = "This Field is Required" } })
                    <span class="input-group-addon"><img id="Showbtn" src="~/images/showpassicon.png"  /></span>
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="padding: 25px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
                <a href="~/Account/SignIn" style="padding-left: 25%;">Click to Employee</a>
            </div>
        </div>
        <div class="backlink">

        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Show.js"></script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



