@model HumanResourceManagementSystem.Models.Department

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/editform.css" rel="stylesheet" />

<div class="main-content">
    <div class="container-fluid content-top-gap">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="~/Department/Index" style="color:darkblue">Departments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adding-Department</li>
            </ol>
        </nav>

    </div>
    <div class="form-block">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>Adding Department</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <section>
                <div class="container">
                    <div class="contacts12-main">
                        <!-- .............. form .....................-->
                        <form action="Department" method="post" class="form">
                            <div>
                                <div>
                                    @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input type="text" name="DepartmentName" id="DepartmentName" placeholder="Enter Department Name" class="contact-input" data-val="true"
                                           data-val-required="Department Name is Blank" data-val-regex-pattern="^[a-zA-Z ]{5,30}$" data-val-regex="Please Enter Valid Department Name" data-val-minlength-min="5" 
                                           data-val-minlength="Department Name is Too Small" data-val-maxlength-max="30" data-val-maxlength="Department Name is Too Large" onchange="UserCheck()" />

                                    <p id="Status"></p>
                                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            @Html.LabelFor(model => model.DepartmentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <textarea class="contact-textarea" name="DepartmentDescription" id="Description"
                                      placeholder="Type Department Description here" data-val="true" data-val-required="Department Description is Blank" data-val-regex-pattern="^[#.0-9a-zA-Z\s,-]+$" 
                                      data-val-regex="Please Enter Valid Department Description" data-val-minlength-min="20" data-val-minlength="Department Description is Too Small"
                                      data-val-maxlength-max="225" data-val-maxlength="Department Description is Too Large"></textarea>
                            @Html.ValidationMessageFor(model => model.DepartmentDescription, "", new { @class = "text-danger" })



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add Department" class="btn btn-default" />
                                    <i class="fa fa-arrow-circle-o-left">&nbsp;@Html.ActionLink("Back to List", "Index")</i>
                                </div>
                            </div>
                        </form>
                        <!-- //............................. form.................... -->
                    </div>
                </div>
            </section>
        }
    </div>
</div>

<!-- //............................. Already Exist.................... -->
<script>
        function UserCheck() {
            $("#Status").html("Checking.........!");
            $.post("@Url.Action("exitInput","Department")",
                {
                    userdata: $("#DepartmentName").val()
                },
                function (data) {

                    if (data == 0) {
                        $("#Status").html('<font color="Green"> Department Name Available......!</font>');
                        $("#DepartmentName").css("border-color", "Green");
                    }
                    else {
                        $("#Status").html('<font color="Red"> That Department Name already taken......!</font>');
                        $("#DepartmentName").css("border-color", "Red");
                    }
                });
        }
</script>

@section Validation {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}


